node_modules/
dist/
dist-ssr/
*.local

.DS_Store
Thumbs.db

.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/team-vue-dev.code-profile

.env
.env.local
.env.*.local
